alembic==1.7.6
astroid==2.9.3
autopep8==1.6.0
click==8.0.3
Flask==2.0.2
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
importlib-metadata==4.10.1
importlib-resources==5.4.0
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.7.1
Mako==1.1.6
MarkupSafe==2.0.1
marshmallow==3.14.1
mccabe==0.6.1
pep8==1.7.1
platformdirs==2.4.1
pycodestyle==2.8.0
pylint==2.12.2
python-dotenv==0.19.2
six==1.16.0
SQLAlchemy==1.4.31
toml==0.10.2
typing-extensions==4.0.1
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.7.0
