version: 2
jobs:
  build:
    docker:
      - image: cimg/python:3.9.2

    steps:
      - checkout
      - run:
          name: Install pip packages
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - run:
          name: Test with pytest
          command: |
            . venv/bin/activate
            pytest -v